<% content_for :title, "#{@user.name}'s Posts"%>
<%= render "posts/user_post", post: @post %>
<div class= "post-comments mt-4 border-2 border-gray-400">
  <% @post.comments.each do |comment| %>
    <div class="post-comment">
      <p>
        <span><strong><%= comment.author.name%></strong></span>
        <span><%= comment.text %></span>
      </p>
    </div>
  <% end %>
</div>
